#body-row {
    margin-left:0;
    margin-right:0;
    
}
#sidebar-container {
    min-height: 100vh;  
    padding: 0;
}

/* Sidebar sizes when expanded and expanded */
.sidebar-expanded {
    width: 230px;
}
.sidebar-collapsed {
    width: 60px;
    color: white;
}

/* Menu item*/
#sidebar-container .list-group a {
    height: 50px;
    color: white;
}

/* Submenu item*/
#sidebar-container .list-group .sidebar-submenu a {
    height: 45px;
    padding-left: 30px;
    
}
.sidebar-submenu {
    font-size: 0.9rem;
    
}

/* Separators */
.sidebar-separator-title {
    background-color: #333;
    height: 35px;
}
.sidebar-separator {
    background-color: #333;
    height: 25px;
}
.logo-separator {
    background-color: #333;    
    height: 60px;
}

/* Closed submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
  content: " \f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}
/* Opened submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
  content: " \f0da";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}

.containerOwnApp {
    box-shadow: 0 0 27px 0 rgba(84, 84, 84, 0.62);
    padding-top: 15px;
 }
  
 .login-page {
   padding: 10% 0 0;
   margin: 0 auto 100px;
   max-width: 360px;
   position: relative;
 }
  
 .login-form {
    box-shadow: 0 0 27px 0 rgba(84, 84, 84, 0.62);
 }
  
 .login-form-header {
    padding-top: 16px;
 }
  
 .login-from-row {
    padding-top: 16px;
    padding-bottom: 16px;
 }
  
 .login-form-font-header {
    font-size:30px; 
    font-weight: bold;
 }
  
 .login-form-font-header span {
    color: #007C9B;
 }